html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: aliceblue;
}

@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }
}

/**************************************
**** Objects
***************************************/

.o-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.o-page {
  padding: 2em 1.5em;
  color: #2c3e50;
}

/**************************************
**** Components
***************************************/

/* ---------- Headings ---------- */

.c-heading-alpha {
  font-size: 2em;
}

.c-heading-bravo {
  font-size: 1.5em;
}

.c-heading-charlie {
  font-size: 1em;
}

/* ---------- Buttons ---------- */

.c-btn--pink {
  background-color: #e700ab;
  color: #f6f9e5;
}

.c-btn-group {
  font-size: 2em;
  vertical-align: bottom;
}

.c-btn-group__text {
  display: inline-block;
}

/* ---------- Page menu ---------- */

.c-page-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #2d3e50;
}

.c-page-menu .pure-menu-heading {
  color: #feffee;
  font-weight: 400;
  font-size: 120%;
}

.c-page-menu .pure-menu-item.pure-menu-selected a {
  color: bisque;
}

.c-page-menu a {
  color: #6fbef3;
}
.c-page-menu li a:hover,
.c-page-menu li a:focus {
  background: none;
  border: none;
  color: #aecfe5;
}

@media (min-width: 48em) {
  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .c-page-menu {
    text-align: left;
  }
  .c-page-menu ul {
    float: right;
  }
}

/* ---------- Card Component --------- */
.c-header {
  padding: 1em 1.5em;
  background-color: #2d3e50;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  color: #fff;
}

/* ---------- game-container --------- */
.c-game-container {
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  color: bisque;
}

/* ---------- Card Component --------- */
.c-card {
  height: 128px;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
  line-height: 128px;
  border: solid 1px #d4d9dd;
  background-color: #eaecee;
  cursor: pointer;
  user-select: none;
  transition: background-color ease-in-out 200ms;
  perspective: 1000px;
}

.c-card.is-selected {
  background-color: #d4d9dd;
  border: solid 1px #eaecee;
}

.c-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.c-card.is-fliped .c-card-inner {
  transform: rotateY(180deg);
}

.c-card-front,
.c-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.c-card-front {
  color: black;
}

.c-card-back {
  transform: rotateY(180deg);
}

/* ---------- Sidebar --------- */

.c-sidebar {
  padding: 3em 1.5em 2em;
  height: 100%;
  background-color: #2d3e50;
  color: bisque;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.c-sidebar__instruction-container {
  text-align: center;
}

.c-icon__emoticon {
  font-size: 3em;
}

/* ---------- Timer metter --------- */

.c-timer-meter {
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  overflow: hidden;
  will-change: width;
  pointer-events: auto;
}

.c-timer-meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e700ab;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.95s linear;
}

/* Game over vail */
.c-game-over,
.c-game-start {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  z-index: 1;
}

.c-game-over__content,
.c-game-start__content {
  position: absolute;
  width: fit-content;
  height: max-content;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.c-game-start {
  background-color: #2d3e50;
}

.c-game-start__instructions {
  max-width: 60%;
  margin: auto;
  margin-bottom: 20px;
  font-weight: normal;
}

/**************************************
**** Utilities
***************************************/
.u-ta-center {
  text-align: center;
}

.u-ta-right {
  text-align: right;
}

.u-no-margin {
  margin: 0;
}

.u-no-margin-top {
  margin-top: 0;
}

.u-mb-bravo {
  margin-bottom: 2em;
}

.u-mb-charlie {
  margin-bottom: 1em;
}

.u-float-right {
  float: right;
}

.u-hidden {
  display: none;
}
