html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: aliceblue;
}

@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }
}

/**************************************
**** Objects
***************************************/

.o-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.o-page {
  padding: 2em 0;
  color: #2c3e50;
}

/**************************************
**** Components
***************************************/

/* ---------- Headings ---------- */

.c-heading-alpha {
  font-size: 2em;
}

.c-heading-bravo {
  font-size: 1.5em;
}

/* ---------- Buttons ---------- */

.c-btn--pink {
  background-color: #e700ab;
}

.c-btn-group {
  font-size: 2em;
  vertical-align: bottom;
}

.c-btn-group__text {
  display: inline-block;
}

/* ---------- Page menu ---------- */

.c-page-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #2d3e50;
}

.c-page-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.c-page-menu .pure-menu-item.pure-menu-selected a {
  color: white;
}

.c-page-menu a {
  color: #6fbef3;
}
.c-page-menu li a:hover,
.c-page-menu li a:focus {
  background: none;
  border: none;
  color: #aecfe5;
}

@media (min-width: 48em) {
  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .c-page-menu {
    text-align: left;
  }
  .c-page-menu ul {
    float: right;
  }
}

/* ---------- Card Component --------- */
.c-header {
  padding: 1em 1.5em;
  background-color: #2d3e50;
  /* border-top-right-radius: 10px; */
  /* border-top-left-radius: 10px; */
  color: #fff;
}

/* ---------- Card Component --------- */
.c-card {
  height: 120px;
  font-size: 4em;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  border: solid 1px #d4d9dd;
  background-color: #eaecee;
  cursor: pointer;
  user-select: none;
  transition: background-color ease-in-out 200ms;
}

.c-card.is-selected {
  background-color: #d4d9dd;
  border: solid 1px #eaecee;
}

/* ---------- Sidebar --------- */

.c-sidebar {
  padding: 1em;
}

/* ---------- Timer metter --------- */

.c-timer-meter {
  height: 20px;
  position: relative;
  background: #555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.c-timer-meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e700ab;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(255, 255, 255, 0.3);
  position: absolute;
  overflow: hidden;
  width: 50%;
  left: 0;
  top: 0;
}

.c-countdown {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

.c-countdown-number {
  color: #2c3e50;
  display: inline-block;
  line-height: 40px;
}

svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: #2c3e50;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

/**************************************
**** Utilities
***************************************/

.u-ta-right {
  text-align: right;
}

.u-no-margin {
  margin: 0;
}

.u-mb-charlie {
  margin-bottom: 1em;
}
